{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<PowerCalendar
  @center={{this.someDate}}
  @selected={{this.selected}}
  @onSelect={{this.onSelect}}
  @onCenterChange={{this.onCenterChange}} as |calendar|
>
  <calendar.Nav />
  <calendar.Days />
</PowerCalendar>

<PowerCalendarRange
  @center={{this.someDate}}
  @selected={{this.selectedRange}}
  @minRange="1w"
  @onSelect={{this.onSelectedRange}}
  @onCenterChange={{this.onCenterChangeMultiple}} as |calendar|
>
  <calendar.Nav />
  <calendar.Days />
</PowerCalendarRange>


<PowerCalendarMultiple
  @center={{this.someDate}}
  @selected={{this.selectedMultiple}}
  @onSelect={{this.onSelectedMultiple}}
  @onCenterChange={{this.onCenterChangeMultiple}} as |calendar|
>
  <calendar.Nav />
  <calendar.Days />
</PowerCalendarMultiple>